.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
h1 {
    display: block;
    font-family: "Delius Swash Caps";
    font-size: 50px;
    color: #6c584c;
    text-align: center;

}

body {
    background-color: #d6ccc2 ;
}

#pelialue {
    position: absolute;
    background-color: #6c584c;
    width: 80%;
    height: 700;
}

#gameOver {
    position: absolute;
    font-size: 2em;
    display: none;
}