*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url("autumn-bg.jpg") ;
    background-size: cover;
    background-position: center;
    color: #faa307;
    font-family: "Unkempt";
}

.topbar{
    height: 64px;
    background: #6f1d1b;
    color: #faa307;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    margin: 20px auto 0 auto;
    border-radius: 12px;
    max-width: 800px;
}

.topbar h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;

}

.page{
    min-height: calc(100vh -64px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.canvas-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#pelialue {
    width: 100%;
    height: auto;
    display: block;
    background-color: #8f250c;
    border: 5px solid #6f1d1b;
}

.controls {
    margin-top: 20px;
    text-align: center;
}

button {
    background: #faa307;
    color: #6f1d1b;
    border: 3px solid #6f1d1b;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 30px;
    font-family: 'Unkempt';
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #6f1d1b;
    color: #faa307;
}

@media (max-width: 520px){
    .topbar{height: 56px;}
    .page {padding: 12px;}
    .topbar h1{font-size: 1rem;}
}